 body{
    background-color:blanchedalmond;
 }

 header{
    background-color:cadetblue;
 }
 main{
    background-color: aliceblue;
 }
 footer{
    background-color: black;
    color:gray;
    display: flex;
 }